<!--suppress HtmlFormInputWithoutLabel -->

<main>

  <h1>Login</h1>

  <div class="login">

    <h2>Pseudonym</h2>

    <p>Erlaubt sind nur Buchstaben und Zahlen.</p>

    <input type="text" [(ngModel)]="pseudonym" placeholder="Dein Name" [class.warning]="noName || wrongName">

    <div class="warning" *ngIf="noName">
      Bitte gib einen Namen an!
    </div>

    <div class="warning" *ngIf="wrongName">
      Keine Sonder- oder Leerzeichen!
    </div>

    <app-button (click)="login()">✅</app-button>
  </div>



</main>
