<!--suppress HtmlFormInputWithoutLabel -->

<main>

  <h1>Login</h1>

  <div class="login">

    <h2>Pseudonym</h2>

    <p style="text-align: center; margin-top: 0">Erlaubt sind nur Buchstaben und Zahlen.</p>

    <input type="text" [(ngModel)]="pseudonym" placeholder="Dein Name" [class.alert-border]="noName || wrongName">

    <div class="alert" *ngIf="noName">
      Bitte gib einen Namen an!
    </div>

    <div class="alert" *ngIf="wrongName">
      Keine Sonder- oder Leerzeichen!
    </div>

    <app-button (click)="login()">Anmelden</app-button>
  </div>



</main>
