@use "../main-styles";

main {
  width: 100vw;

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: rgba(white, 0.5);

    @media (max-width: 480px){
      justify-content: space-evenly;
    }

    .nav-icon {
      display: none;
    }

    a {
      color: main-styles.$gray-dark;
      text-decoration: none;
      margin: 0 25px;

      @media (max-width: 480px){
        margin: 0;
      }

      &:hover {
        cursor: pointer;
      }

      &.active {

        .cyan {
          color: main-styles.$cyan-light;
        }
        .violet {
          color: main-styles.$violet-light;
        }
        .red {
          color: main-styles.$red-light;
        }
        .orange {
          color: main-styles.$orange-light;
        }
        .green {
          color: main-styles.$green-light;
        }
        .blue {
          color: main-styles.$blue-light;
        }

        .nav-icon {
          display: inline-block;

          @media (max-width: 329px) {
            font-size: 14px;
          }
        }
      }

      h3 {
        margin: 0;
      }
    }
  }
}

