@use "../main-styles";

main {
  width: 100vw;

  .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    background-color: rgba(white, 0.5);

    .nav-icon {
      // visibility: hidden;
      display: none;
    }

    a {
      color: main-styles.$gray-dark;
      text-decoration: none;

      &:hover {
        cursor: pointer;
      }

      &.active {
        color: main-styles.$cyan-light;

        .nav-icon {
          display: inline-block;

          @media (max-width: 329px) {
            font-size: 14px;
          }
        }
      }

      h3 {
        margin: 0;
      }
    }
  }
}

