<main>

  <div class="row" *ngIf="service.pseudonym !== ''">

    <a routerLink="/neuer-eintrag" [routerLinkActive]="'active'">
      <h3>
        <span class="nav-icon">👉</span>
        Neuer Eintrag
        <span class="nav-icon">👈</span>
      </h3>
    </a>

    <a routerLink="/uebersicht" [routerLinkActive]="'active'">
      <h3>
        <span class="nav-icon">👉</span>
        Übersicht
        <span class="nav-icon">👈</span></h3>
    </a>

    <a routerLink="/einstellungen" [routerLinkActive]="'active'">
      <h3>
        <span class="nav-icon">👉</span>
        ⚙️
      </h3>
    </a>

  </div>


</main>
