<main>

  <div class="row" *ngIf="service.pseudonym !== ''">

    <a routerLink="/neuer-eintrag" [routerLinkActive]="'active'">
      <h3>
        <span class="nav-icon">👉</span>
        Neuer Eintrag
        <span class="nav-icon">👈</span>
      </h3>
    </a>

    <a routerLink="/uebersicht" [routerLinkActive]="'active'">
      <h3>
        <span class="nav-icon">👉</span>
        Übersicht
        <span class="nav-icon">👈</span></h3>
    </a>

    <h3 style="align-self: flex-end">⚙️</h3>

    <!-- TODO Einstellung

    - Daten löschen
    - feste Anzahl an Tagen zeigen
    - dunkles Design?


    -->

  </div>


</main>
