<main>

  <h2>Einträge vom: {{dateForView}}</h2>

  <div *ngIf="entries.length === 0">
    <p>Für diesen Tag sind keine Einträge vorhanden.</p>
  </div>

  <div *ngIf="entries.length > 0">
    <div class="entry" *ngFor="let entry of entries" style="position: relative">

      <div class="row time">
        <h3>🕖 {{entry.time}} Uhr</h3>
      </div>

      <div class="row">

        <div class="icon-box">

          <div *ngIf="!entry.headache" class="icon">
            🟢
            <span class="tooltip-text">keine</span>
          </div>

          <div *ngIf="entry.headache && entry.intensity === 'strongIntensity'" class="icon">
            🔴
            <span class="tooltip-text" [class.hidden]="deleteWarning">starke Schmerzen</span>
          </div>

          <div *ngIf="entry.headache && entry.intensity === 'middleIntensity'" class="icon">
            🟠
            <span class="tooltip-text" [class.hidden]="deleteWarning">mittlere Schmerzen</span>
          </div>

          <div *ngIf="entry.headache && entry.intensity === 'weakIntensity'" class="icon">
            🟡
            <span class="tooltip-text" [class.hidden]="deleteWarning">schwache Schmerzen</span>
          </div>

        </div>

        <div class="icon-box">

          <div class="icon">
            <div *ngIf="entry.pill">
              💊
              <span class="tooltip-text" [class.hidden]="deleteWarning">Tablette genommen</span>
            </div>
          </div>

        </div>

        <div class="icon-box">

          <div class="icon">

            <div *ngIf="entry.water">
              🥛
              <span class="tooltip-text" [class.hidden]="deleteWarning">Ausreichend getrunken</span>
            </div>

          </div>

        </div>

        <div class="icon-box">

          <div class="icon">

            <div *ngIf="entry.mood === 'relaxed'">
              😌
              <span class="tooltip-text" [class.hidden]="deleteWarning">Entspannt</span>
            </div>

            <div *ngIf="entry.mood === 'stressed'">
              😫
              <span class="tooltip-text" [class.hidden]="deleteWarning">Gestresst</span>
            </div>

            <div *ngIf="entry.mood === 'tired'">
              🥱
              <span class="tooltip-text" [class.hidden]="deleteWarning">Müde</span>
            </div>

            <div *ngIf="entry.mood === 'fresh'">
              🤗️
              <span class="tooltip-text" [class.hidden]="deleteWarning">Wach</span>
            </div>

            <div *ngIf="entry.mood === 'well'">
              🙂
              <span class="tooltip-text" [class.hidden]="deleteWarning">Gut</span>
            </div>

            <div *ngIf="entry.mood === 'bad'">
              ☹️
              <span class="tooltip-text" [class.hidden]="deleteWarning">Schlecht</span>
            </div>

          </div>

        </div>

        <div class="icon-box">

          <div class="icon">

            <div *ngIf="entry.weather === 'sunny'">
              🌤️
              <span class="tooltip-text" [class.hidden]="deleteWarning">Sonne</span>
            </div>

            <div *ngIf="entry.weather === 'cloudy'">
              ☁️
              <span class="tooltip-text" [class.hidden]="deleteWarning">Wolken</span>
            </div>

            <div *ngIf="entry.weather === 'thunderstorm'">
              🌩️
              <span class="tooltip-text" [class.hidden]="deleteWarning">Gewitter</span>
            </div>

            <div *ngIf="entry.weather === 'stormy'">
              🍃
              <span class="tooltip-text" [class.hidden]="deleteWarning">Wind / Sturm</span>
            </div>

            <div *ngIf="entry.weather === 'rainfall'">
              🌧️
              <span class="tooltip-text" [class.hidden]="deleteWarning">Regen / Schnee</span>
            </div>

            <div *ngIf="entry.weather === 'foggy'">
              🌫️
              <span class="tooltip-text" [class.hidden]="deleteWarning">Nebel</span>
            </div>

          </div>

        </div>

        <div class="icon-box">

          <div class="icon">

            <div *ngIf="entry.illness">
              🤒
              <span class="tooltip-text" [class.hidden]="deleteWarning">Krankheit</span>
            </div>
          </div>

        </div>

      </div>

      <div class="deleteWarning" *ngIf="entry.showDeleteWarning">
        <p>Möchtest du den Eintrag wirklich löschen?</p>
        <div>
          <app-button (click)="cancelDeleteEntry(entry)">❌️</app-button>
          <app-button (click)="deleteEntry(entry)">✅</app-button>
        </div>
      </div>


      <div class="button-box row">

        <app-button class="icon-box"
                    [class.hidden]="entry.showDeleteWarning"
                    (click)="askForDeleteEntry(entry)">
          🗑️
          <span class="tooltip-text">Löschen</span>
        </app-button>

        <app-button class="icon-box"
                    [class.hidden]="entry.showDeleteWarning"
                    [routerLink]="'/eintrag/' + entry.date + '/' + entry.time + '/bearbeiten'">
          ✏️
          <span class="tooltip-text">Bearbeiten</span>
        </app-button>

      </div>

    </div>
  </div>

</main>
