@use "src/app/main-styles";

main {

  .entry {
    @include main-styles.box-background;
    box-sizing: border-box;
    margin: 25px 0;
    position: relative;

    .deleteWarning {
      position: absolute;
      top: 65px;
      left: 0;
      padding: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-weight: bolder;
      color: white;
      background-color: rgba(18, 117, 119, 0.7);
      backdrop-filter: blur(7px);
      border-radius: 8px;

      p {
        text-align: center;
      }

      button {
        outline: none;
        border: none;
        user-select: none;
        border-radius: 15px;
        width: 70px;
        box-shadow: 0 0 3px #565656;
        margin: 25px 15px 0 15px;
        padding: 10px;
        color: white;
        background-color: darken(main-styles.$gray-light, 10%);
        font-size: 20px;
        font-weight: bold;

        &:hover {
          cursor: pointer;
        }

        &:active {
          box-shadow: none;
          transform: scale(0.98);
          background-color: main-styles.$gray-dark;
        }
      }
    }

    .row {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px 0;

      &:first-child {
        padding-bottom: 0;
      }

      &:nth-child(2) {
        padding-top: 0;
      }

      &.time {
        justify-content: center;

        h3 {
          margin: 0 0 25px 0;
        }
      }

      .icon {
        // position: relative;
        font-size: 25px;
        padding: 5px;

        .tooltip-text {
          user-select: none;
          font-size: 0.8rem;
          position: absolute;
          top: -35px;
          left: -10px;
          z-index: 2;
          visibility: hidden;
          width: max-content;
          background-color: rgba(255, 255, 255, 0.95);
          font-weight: bold;
          text-align: center;
          border-radius: 6px;
          padding: 2px;
        }

        &:hover {
          cursor: pointer;
          transform: scale(1.2);

          .tooltip-text {
            visibility: visible;
          }
        }
      }
    }

    .button-box {
      display: flex;
      justify-content: center;

      .icon {
        padding: 15px 25px;
        background-color: rgba(white, 0.5);
        border-radius: 8px;
        margin: 0 15px;
      }
    }
  }

  .hidden {
    display: none;
  }
}
