<!--suppress HtmlFormInputWithoutLabel -->

<main>

  <div class="filter">

    <h2>Deine Einträge der letzten &nbsp;</h2>
    <div class="days">
      <span>
      <input type="number"
             min="1"
             max="730"
             [(ngModel)]="filterDays"
             (ngModelChange)="filterDateChanged()"
      >
    </span>
      <h2> &nbsp;Tage</h2>
    </div>

  </div>


  <div class="box">

    <div *ngFor="let date of dates" class="row">

      <p class="row-item">{{date.date}}</p>

      <div class="row-item">
        <div class="icon-box">

          <div *ngIf="date.headacheLevel === 0">🟢</div>
          <div *ngIf="date.headacheLevel === 1">🟡</div>
          <div *ngIf="date.headacheLevel === 2">🟠</div>
          <div *ngIf="date.headacheLevel === 3">🔴</div>

        </div>
      </div>

      <app-button class="row-item icon-box glass" [routerLink]="'/eintrag/' + date.stringDate">
        🔍
        <span class="number-of-entries">{{date.entries.length}}</span>
        <span class="tooltip-text">Einträge vom {{date.date}}</span>
      </app-button>

    </div>

  </div>

</main>
