<!--suppress HtmlFormInputWithoutLabel -->

<main>

  <div class="head">
    <div class="filter">

      <h2>Deine Einträge der</h2>
      <div class="days">
        <h2>
          letzten &nbsp;</h2>
        <span>
      <input type="number"
             min="1"
             max="730"
             [(ngModel)]="filterDays"
             (ngModelChange)="filterDateChanged()"
             [class.warning]="!(this.filterDays > 0 && this.filterDays <= 730)"
      >
    </span>
        <h2> &nbsp;Tage</h2>
      </div>

    </div>
  </div>


  <p *ngIf="!(this.filterDays > 0 && this.filterDays <= 730)">
    Bitte gib eine Anzahl zwischen 1 und 730 an.
  </p>


  <div class="box" *ngIf="(this.filterDays > 0 && this.filterDays <= 730)">

    <button (click)="toggleAscending()" class="sort-button">
      ⇳
      <span class="tooltip-text">{{ascendingButtonText}} sortieren</span>
    </button>

    <div *ngFor="let date of dates" class="row">

      <p class="row-item">{{date.date}}</p>

      <div class="row-item">
        <div class="icon-box">

          <div *ngIf="date.headacheLevel === 0">
            🟢
            <span class="tooltip-text">Keine Kopfschmerzen</span>
          </div>
          <div *ngIf="date.headacheLevel === 1">
            🟡
            <span class="tooltip-text">Schwache Kopfschmerzen</span>
          </div>
          <div *ngIf="date.headacheLevel === 2">
            🟠
            <span class="tooltip-text">Mittlere Kopfschmerzen</span>
          </div>
          <div *ngIf="date.headacheLevel === 3">
            🔴
            <span class="tooltip-text">Starke Kopfschmerzen</span>
          </div>

        </div>
      </div>

      <app-button class="row-item icon-box glass" [routerLink]="'/eintrag/' + date.stringDate">
        🔍
        <span class="number-of-entries">{{date.entries.length}}</span>
      </app-button>

    </div>

  </div>

</main>
