@use "src/app/main-styles";

.greeting {
  display: flex;
  justify-content: center;
  margin: 15px 0;

  .text {
    text-align: center;
  }

  .emoji {
    display: flex;
    align-items: center;
    margin: 15px;

    .hand {
      animation: waggle linear infinite 420ms;
    }
  }
}

.form {
  @include main-styles.form;

  .details {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    animation: details 500ms ease-in-out;
  }
}


@keyframes waggle {
  25% {
    transform: rotate(-7deg);
    transform-origin: bottom center;
  }
  75% {
    transform: rotate(7deg);
    transform-origin: bottom center;
  }
}



@keyframes details {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
