@use "src/app/main-styles";

.greeting {
  display: flex;
  justify-content: center;
  margin: 15px 0;

  @media (max-width: 435px) {
    flex-direction: column-reverse;
    align-items: center;
  }

  .text {
    text-align: center;
  }

  .emoji {
    display: flex;
    align-items: center;
    margin: 15px 0 15px 15px;

    @media (max-width: 435px) {
      margin: 15px 0 0 0;
    }

    .hand {
      animation: beckon linear infinite 420ms;
    }
  }
}

.form {
  @include main-styles.form;
}


@keyframes beckon {
  25% {
    transform: rotate(-7deg);
    transform-origin: bottom center;
  }
  75% {
    transform: rotate(7deg);
    transform-origin: bottom center;
  }
}

