<main
  [class.cyan]="service.userSettings.color === 'cyan'"
  [class.violet]="service.userSettings.color === 'violet'"
  [class.red]="service.userSettings.color === 'red'"
  [class.orange]="service.userSettings.color === 'orange'"
  [class.green]="service.userSettings.color === 'green'"
  [class.blue]="service.userSettings.color === 'blue'"
>

  <app-nav></app-nav>

  <app-login *ngIf="service.pseudonym == ''"></app-login>

  <router-outlet *ngIf="service.pseudonym != ''"></router-outlet>

</main>
