$gray-dark: #3e3e3e;
$gray-light: #989898;
$cyan: #119b9f;
$cyan-light: #15ba99;
$cyan-dark: #127577;

@mixin box-background {
  margin: 15px;
  padding: 15px;
  background-color: rgba(white, 0.4);
  border-radius: 8px;
  backdrop-filter: blur(15px);
}

@mixin form {
  @include box-background;
  min-width: fit-content;

  label {
    margin: 0;

    @media (max-width: 435px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    input, option, select {
      border: none;
      outline: none;
      border-radius: 8px;
      padding: 2px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .details-box {
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    max-height: 0;
    transition: max-height 300ms ease-in-out, margin-top 300ms ease-in-out;
    overflow: hidden;

    &.not-hidden {
      max-height: 165px;

      @media (max-width: 435px) {
        max-height: 215px;
        margin-top: 15px;
      }
    }

    .details {
      padding: 0 15px 15px 15px;
    }
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 435px) {
      flex-direction: column;
      align-items: flex-start;
    }

    &.took-pill {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .container {
        margin-left: 0;
      }
    }

    .container {
      width: 40px;
      height: 22px;
      border-radius: 16px;
      position: relative;
      margin-left: 15px;

      @media (max-width: 435px) {
        margin: 0;
      }

      &.false {
        background-color: rgba($gray-light, 0.3);
      }

      &.true {
        background-color: rgba($cyan-light, 0.3);
      }

      &:hover {
        cursor: pointer;
      }

      .circle {
        position: absolute;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: $cyan-dark;
        transition: transform ease-in-out 500ms;

        &.false {
          top: 0;
          left: 0;
          background-color: rgba($gray-dark, 0.3);
        }

        &.true {
          top: 0;
          transform: translateX(18px);
        }
      }
    }
  }

  .button-box {
    display: flex;
    align-self: center;
    justify-content: center;
  }
}
