$gray-dark: #3e3e3e;
$gray-light: #989898;
$cyan: #119b9f;
$cyan-light: #15ba99;
$cyan-dark: #127577;

@mixin box-background {
  margin: 15px;
  padding: 15px;
  background-color: rgba(white, 0.5);
  border-radius: 8px;
}

@mixin form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include box-background;

  label {
    margin: 15px 0;

    @media (max-width: 435px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    input, option, select {
      border: none;
      outline: none;
      border-radius: 8px;
      padding: 2px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .row {
    display: flex;
    align-items: center;

    @media (max-width: 435px) {
      flex-direction: column;
      align-items: flex-start;
    }

    .container {
      width: 40px;
      height: 22px;
      border-radius: 16px;
      position: relative;
      margin-left: 15px;

      &.false {
        background-color: rgba($gray-light, 0.3);
      }

      &.true {
        background-color: rgba($cyan-light, 0.3);
      }

      &:hover {
        cursor: pointer;
      }

      .circle {
        position: absolute;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: $cyan-dark;
        transition: transform ease-in-out 500ms;

        &.false {
          top: 0;
          left: 0;
          background-color: rgba($gray-dark, 0.3);
        }

        &.true {
          top: 0;
          transform: translateX(18px);
        }
      }
    }
  }

  .button-box {
    display: flex;
    align-self: center;
    justify-content: center;
  }
}
