@use "src/app/main-styles";

button {
  display: flex;
  justify-content: center;
  min-width: 70px;
  margin: 15px;
  padding: 10px 20px;
  align-self: center;
  border: none;
  outline: none;
  user-select: none;
  color: main-styles.$gray-dark;
  font-size: 20px;
  box-shadow: 0 0 3px #565656;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;

  &:hover {
    cursor: pointer;
    background-color: rgba(main-styles.$cyan-light, 0.2);
  }

  &:active {
    box-shadow: inset 0 0 3px #565656;
    transform: scale(0.98);
    background-color: rgba(main-styles.$cyan-light, 0.4);
  }
}
