@use "src/app/main-styles";

main {

  .edit-head {
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
    }

    .icon {

    }
  }

  .form {
    @include main-styles.form;
  }
}




