<main>

  <h2>
    Eintrag vom {{entryToEditDateView}}
    <br>
    um {{entryToEditTime}} Uhr
    ✏️
  </h2>

  <div class="form" *ngIf="entryToEdit != null">

    <p>
      Datum:
    </p>
    <label>
      <input type="date" [(ngModel)]="entryToEdit.date">
    </label>

    <p>
      Uhrzeit:
    </p>
    <label>
      <input type="time" [(ngModel)]="entryToEdit.time">
    </label>

    <div class="row">
      <p>
        Hast Du Kopfschmerzen?
      </p>

      <div class="container"
           (click)="entryToEdit.headache = !entryToEdit.headache"
           [class.true]="entryToEdit.headache"
           [class.false]="!entryToEdit.headache"
      >
        <div class="circle"
             [class.true]="entryToEdit.headache"
             [class.false]="!entryToEdit.headache"
        >
        </div>
      </div>
    </div>

    <div class="details-box" [class.not-hidden]="entryToEdit.headache">

      <div class="details">

        <p>
          Wie stark sind die Kopfschmerzen?
        </p>
        <label>
          <select [(ngModel)]="entryToEdit.intensity">
            <option value="">--Bitte wählen--</option>
            <option value="strongIntensity">Stark</option>
            <option value="middleIntensity">Mittel</option>
            <option value="weakIntensity">Schwach</option>
          </select>
        </label>

        <div class="row" *ngIf="entryToEdit.headache">
          <p>
            Hast Du eine Tablette genommen?
          </p>
          <div class="container"
               (click)="entryToEdit.pill = !entryToEdit.pill"
               [class.true]="entryToEdit.pill"
               [class.false]="!entryToEdit.pill"
          >
            <div class="circle"
                 [class.true]="entryToEdit.pill"
                 [class.false]="!entryToEdit.pill"
            >
            </div>
          </div>
        </div>

      </div>

    </div>


    <div class="row">
      <p>
        Hast Du ausreichend getrunken?
      </p>
      <div class="container"
           (click)="entryToEdit.water = !entryToEdit.water"
           [class.true]="entryToEdit.water"
           [class.false]="!entryToEdit.water"
      >
        <div class="circle"
             [class.true]="entryToEdit.water"
             [class.false]="!entryToEdit.water"
        >
        </div>
      </div>
    </div>

    <p>
      Wie ist Deine Stimmung?
    </p>
    <label>
      <select [(ngModel)]="entryToEdit.mood">
        <option value="">--Bitte wählen--</option>
        <option value="well">Gut</option>
        <option value="bad">Schlecht</option>
        <option value="stressed">Gestresst</option>
        <option value="relaxed">Entspannt</option>
        <option value="tired">Müde</option>
        <option value="fresh">Wach</option>
      </select>
    </label>

    <p>
      Wie ist das Wetter?
    </p>
    <label>
      <select [(ngModel)]="entryToEdit.weather">
        <option value="">--Bitte wählen--</option>
        <option value="sunny">Sonnig</option>
        <option value="cloudy">Bewölkt</option>
        <option value="rainfall">Regen / Schnee</option>
        <option value="thunderstorm">Gewitter</option>
        <option value="stormy">Stürmisch</option>
        <option value="foggy">Neblig</option>
      </select>
    </label>

    <div class="row">
      <p>
        Bist Du krank?
      </p>
      <div class="container"
           (click)="entryToEdit.illness = !entryToEdit.illness"
           [class.true]="entryToEdit.illness"
           [class.false]="!entryToEdit.illness"
      >
        <div class="circle"
             [class.true]="entryToEdit.illness"
             [class.false]="!entryToEdit.illness"
        >
        </div>
      </div>
    </div>

    <div class="button-box">
      <app-button (click)="cancel()">❌️</app-button>

      <app-button (click)="updateEntry()">✅</app-button>
    </div>

  </div>

</main>
