/* You can add global styles to this file, and also import other style files */

@use "src/app/main-styles";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');


body {
  box-sizing: border-box;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

body, input, select, button {
  font-family: 'Manrope', sans-serif;
  color: main-styles.$gray-dark;
}
