<main>

  <h2>Einstellungen</h2>

  <div class="box">

    <h4>
      Farbschema ändern:
    </h4>

  </div>

  <div class="box">

    <h4>
      Standardanzahl der Tage
      in der Übersicht:
    </h4>

  </div>

  <div class="box">

    <h4>
      Automatische Anmeldung löschen:
    </h4>

  </div>

  <div class="box">

    <h4>
      Alle Daten löschen:
    </h4>

    </div>

  <!-- TODO Einstellung

   - Daten löschen
   - feste Anzahl an Tagen zeigen
   - dunkles Design?


   -->

</main>
