@use "src/app/main-styles";

main {
  margin: auto;

  h2 {
    text-align: center;
  }

  app-button {

    .days {
      display: flex;
      align-items: center;

      span {
        margin-left: 25px;
      }
    }
  }

  .box {
    @include main-styles.box-background;
    box-sizing: border-box;
    width: 260px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    max-height: 0;
    transition: max-height 300ms ease-in-out, padding 300ms ease-in-out;
    overflow: hidden;
    padding: 0;

    .options {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h4 {
        justify-self: flex-end;
      }


      p {
        text-align: center;
      }

      .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .buttons {
          display: flex;
        }
      }

      &.day-select {
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
          display: flex;
          flex-direction: column;
          align-items: center;

          select {
            border: none;
            outline: none;
            border-radius: 8px;
            padding: 2px;
            margin-top: 15px;
            font-size: 16px;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }

    &.visible {
      max-height: 400px;
      padding: 15px;
    }
  }
}
